package ${crudContext.formPackage};

import java.io.Serializable;

import ${crudContext.baseFormPackage}.Bs${table.className}Form;

public class ${table.className}Form extends Bs${table.className}Form implements Serializable {

    private static final long serialVersionUID = 1L;

    public void initialize() {
        super.initialize();
    }
}
