package ${crudContext.actionPackage};

import ${crudContext.baseActionPackage}.Bs${table.className}Action;

public class ${table.className}Action extends Bs${table.className}Action {

    private static final long serialVersionUID = 1L;

}
